main {
  padding:70px 0;

  .custom-success {
    height:61px;
    width:882px;
    background-color:$theme-green;
    color:white;
    font-size:15px;
    text-align:center;
  }

  .main-content {

    .registrants {
      @include basic-element;
      height:100%;
      width:560px;
      padding-top:10px;
      padding-bottom:20px;
      margin-bottom:10px;
    }

    .no-registrants {
      border-style:dotted;
      width:100%;
      height:147px;
      text-align:center;
      color:$disabled-gray;
      border-color:$disabled-gray;
    }

    .list-group-item {
      margin-bottom:15px;
      background-color:$list-item-white;
    }

    span {
      padding-right:20px;
    }
  }
}