main {
  padding:70px 0;

  .custom-success {
    height:61px;
    width:856px;
    background-color:$theme-green;
    color:white;
    font-size:15px;
  }

  .main-content {

    .registrants {
      @include basic-element;
      height:100%;
      width:560px;
      padding-top:10px;
      padding-bottom:20px;
      margin-bottom:10px;
    }

    .list-group-item {
      margin-bottom:15px;
      background-color:$list-item-white;
    }

    span {
      padding-right:20px;
    }
  }
}