// Sidebar Left
main {
  .sidebar-left {
    form {
      @include basic-element;
      margin-bottom:20px;
      padding-top:10px;
      padding-left:24px;
      padding-right:24px;
      width: 271px;
      height: 235px;

      input {
        width:227px;
        height:36px;
        padding:10px;
        margin-bottom:10px;
      }

      h4 {
        color:$theme-black;
        font-size:16px;
      }
    }

    .welcome-message {
      @include basic-element;
    }

    .sidebar-button {
      width:110px;
      height:40px;
      font-size:12px;
      background-color:#2aa070;
      color:white;
      padding-left:35px;
      padding-right:35px;
    }
  }
}
