// Sidebar Left
main {
  .sidebar-left {
    form {
      @include basic-element;
      margin-bottom:20px;
      padding-top:10px;

      input {
        width:100%;
        padding:10px;
        margin-bottom:10px;
      }

      h2 {
        margin: -20px 0 0 0;
        color:$theme-black;
      }
    }

    .welcome-message {
      @include basic-element;
    }

    .sidebar-button {
      padding:10px 40px;
      background-color:#2aa070;
    }
  }
}
