//Variables
$original-background-color:#eaeaea;
$theme-black:#4a4a4a;
$theme-white:#f8f8f5;
$theme-green:#12a075;

//Mixins
@mixin basic-border {
  border:1px solid #ccc;
}

@mixin basic-padding {
  padding-top:10px;
  padding-left:24px;
  padding-right:24px;
}

@mixin basic-element {
  @include basic-border;
  @include basic-padding;
  background: white;
}